@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    font-style: normal;
    background-color: #fba100;

}
body{
    background-color: transparent;
}


header {
    margin-right: 1%;
    margin-top: 0%;
    width: 100%;



    & ul {

        & img {
            display: flex;
            width: 10%;
            justify-content: flex-start;

        }

        & li {
            height: 100%;

            & a {

                font-family: "Playfair Display", serif;
                margin-top: 0px;

            }
        }
    }
}

section.slider {
    
    margin: 0 auto;
    width: 100%;
    height: 600px;
    padding: 0 !important;
    overflow: hidden;

    & h1 {
        display: flex;
        text-align: center;
        margin-bottom: 0%;
        justify-content: center;
       
    }

    & .slider-content {
        width: 200%;
        height: 100%;
        display: flex;

        & input {
            display: none;
        }

        & .nav-manual,
        .nav-auto {
            position: absolute;
            width: 100%;
            margin-top: 35%;
            display: flex;
            justify-content: center;
            gap: 10px;
            background-color: transparent;
        }

        & .nav-manual .manual-btn,
        .nav-auto div {
            border: 1px solid transparent;
            cursor: pointer;
            padding: 10px;
            border-radius: 0%;
            transition: 0.2s;

            &:hover {
                background-color: #71ea52;
            }
        }

        & .slider-box {
            width: 100%;
            height: 90%;
            position: relative;
            text-align: center;
            transition: 1s;


            & img {
                width: 100%;
                height: 100%;



            }
        }
    }
}


/* Estilização dos Estilosde luta*/
section.content {
    

    & .icon {
        width: 100%;

        & .container-icon {
            width: 100%;
            display: flex;

            & .img-icon {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: center;
                

                & img {
                    width: 80%;
                    height: 100%;
                   
                    transition: all .4s;
                    border: px solid #000;
                    border-radius: 40%;
                    
                }

                & img:hover {
                    

                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                }


                & h2 {
                    margin: 60px 0 50% 0;
                    font-size: 30px;
                    

                }
            }
        }
    }

    h1 {
        margin: 0% 0 5% 0;
        text-align: center;
       
    }
}

section.professor {
    & h1 {
        text-align: center;
        margin: 0% 0 5% 0;
        
       
    }

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        margin: 5% 0 5% 0;
    }

    & .content {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & iframe {
            margin: 0 0 0 15%;
        }
    }

    & .contact-content {
        display: flex;

    }

    & h2 {
        font-family: "Playfair Display", serif;
        margin-left: 0%;
        flex-wrap: wrap;
        width: 95%;
    }
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #71ea52;
}

#radio1:checked~.primeiro {
    margin-left: 0%;

}

#radio2:checked~.primeiro {
    margin-left: -120%;

}

#radio3:checked~.primeiro {
    margin-left: -200%;

}