@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;

}

header {
    margin-right: 1%;
    margin-top: 1%;
    width: 100%;

    & ul {

        & img {
            display: flex;
            width: 10%;
            justify-content: flex-start;
        }

        & li {
            & a {

                font-family: "Playfair Display", serif;
                margin-top: 10px;
            }
        }
    }
}

section.slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    padding: 0 !important;
    overflow: hidden;

    & h1 {
        display: flex;
        text-align: center;
        margin-bottom: 0%;
        justify-content: center;
    }

    & .slider-content {
        width: 200%;
        height: 100%;
        display: flex;

        & input {
            display: none;
        }

        & .nav-manual, .nav-auto {
            position: absolute;
            width: 100%;
            margin-top: 35%;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        & .nav-manual .manual-btn, .nav-auto div {
            border: 1px solid #FA8909;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            transition: 0.2s;

            &:hover {
                background-color: #FA8909;
            }
        }
        & .slider-box  {
            width: 100%;
            height: 90%;
            position: relative;
            text-align: center;
            transition: 1s;
           
    
            & img {
                width: 100%;
                height: 100%;
               
                
                
            }
        }
    }
}


/* Estilização dos Estilosde luta*/
section.content {

    & .icon {
        width: 100%;

        & .container-icon {
            width: 100%;
            display: flex;

            & .img-icon {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: center;

                & img {
                    width: 60%;
                    height: 150px;
                    background-color: #faf9f7;
                    transition: all .4s;
                    border: 10px solid transparent;
                    border-radius: 50%;
                }

                & img:hover {
                    border: 10px solid #34e26e;

                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                }
               
                
                & h2 {
                    margin-top: 60px;
                    font-size: 30px;
                    
                }
            }
        }
    }

    h1 {
         margin: 2% 0 5% 0;
        text-align: center;
    }
}

section.professor {
    & h1 {
        text-align: center;
        margin: 5% 0 5% 0;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        margin: 5% 0 5% 0;
    }

    & .content {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & iframe {
            margin: 0 0 0 15%;
        }
    }
   & .contact-content{
    display: flex;
    
   }

    & h2 {
        font-family: "Playfair Display", serif;
        margin-left: 0%;
        flex-wrap: wrap;
        width: 95%;
    }
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #FA8909;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;

}

#radio2:checked ~ .primeiro{
    margin-left: -120%;

}
#radio3:checked ~ .primeiro{
    margin-left: -200%;

}