@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    background-color: #252323;
    
}


header {
    position: sticky;
    top: 0;
    z-index: 1;

    & div {
        display: flex;

        & img {
            width: 110px;
        }
    }


    & ul {
        height: 1px;
        width: 100%;
        
        & li {
         

            & a {

                margin-top: 0px;
                font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
                font-size: 20px;
                
            }

        }
    }
}

section.slider {
    width: 100%;
    height: 50%;
    padding: 0 !important;
    overflow: hidden;

    & h1 {
        display: flex;
        text-align: center;
        margin-bottom: 0%;
        justify-content: center;
    }

    & .slider-content {
        width: 100%;
        height: 50%;
        display: flex;

        & input {
            display: none;
        }

        & .nav-manual,
        .nav-auto {
            position: absolute;
            width: 100%;
            margin-top: 31%;
            display: flex;
            justify-content: center;
            gap: 10px;
            background-color: transparent;
        }

        & .nav-manual .manual-btn,
        .nav-auto div {
            border: 1px solid #fff;
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;
            transition: 0.2s;

            &:hover {
                background-color: #71ea52;
            }
        }

        & .slider-box {
            width: 100%;
            height: 100%;
            transition: 2s;
            text-align: center;

            & img {
                width: 1500px;
                height: 500px;
            }
        }
    }
}

section.apresentacao {
   
    & .who-we-are {
       
        & h1 {
            color: #dc7322;
            font-size: 100px;
            text-align: center;
            
            
        }

        & h2 {
            text-align: center;
            color: #fff;
            margin: 0;
            
            
        }
    }
}

/* Estilização dos Estilosde luta*/
section.content {
    

    & .icon {
        width: 100%;

        & .container-icon {
            width: 100%;
            display: flex;

            & .img-icon {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: center;

                & img {
                    width: 100%;
                    height: 100%;
                    transition: all .4s;

                    border-radius: 5px;
                }

                & img:hover {

                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }

                & h2 {
                    margin: 40px 0 20% 0;
                    font-size: 30px;
                    font-family: "Oswald", sans-serif;
                    font-optical-sizing: auto;
                    color: #fff;

                }
            }
        }
    }
    & .who-are{
        & h2{
            text-align: center;
            color: #fff;
            font-size: 25px;
            margin-top: 1%;
        }
       
    }

    h1 {
        margin: 5% 0 5% 0;
        text-align: center;
         color: #dc7322 ;
        font-size: 100px;
        
    }

    & .tabela {
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;

        & img {
            width: 35%;
            background-color: transparent;
            margin-bottom: 5%
        }
    }
}

section.professor {
    & h1 {
        text-align: center;
        color: #dc7322 ;
        font-size: 100px;
    }

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
        text-align: center;
        margin: 10% 0 5% 0;
        color: #f6f0f0;
        font-size: 40px;
    }

    & .content {

        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        & iframe {
            margin: 0 0 0 20%;
        }
    }

    & .contact-content {
        display: flex;

    }

    & h2 {
        
        margin-left: 0%;
        flex-wrap: wrap;
        width: 95%;
        color: #f6f0f0;
    }
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #71ea52;
}

#radio1:checked~.primeiro {
    margin-left: -0%;

}

#radio2:checked~.primeiro {
    margin-left: -100%;


}

#radio3:checked~.primeiro {
    margin-left: -200%;

}